.rest_menu {
  width: 100vw;
  margin: 0;
}

.rest_menu_img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 1200px) {
  .rest_menu_img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 425px) {
  .rest_menu_img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
